examples/flow-basic.json
[{"id":"1f024d9.d120cb2","type":"inject","z":"6ef2b186.f1f8c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":190,"y":1620,"wires":[["7937eea9.33a89"]]},{"id":"7937eea9.33a89","type":"dwd","z":"6ef2b186.f1f8c","region":"109377000 Kreis Tirschenreuth (TIR)","name":"","gewitter":true,"sturm":true,"regen":true,"schnee":true,"nebel":true,"frost":true,"glatteis":true,"tauwetter":false,"hitze":true,"uv":true,"kueste":false,"binnensee":false,"x":350,"y":1620,"wires":[["47e899a.8d612e8"]]},{"id":"47e899a.8d612e8","type":"debug","z":"6ef2b186.f1f8c","name":"Max. Warnstufe","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.windspeed","statusType":"auto","x":550,"y":1620,"wires":[]}]
