examples/flow-dashboard-template.json
[{"id":"febee273.defce","type":"ui_template","z":"6ef2b186.f1f8c","group":"f87cc085.bd171","name":"","order":3,"width":"6","height":"4","format":"<style>\n    .dwd-icon-container {\n        display: inline-block;    \n    }\n    .dwd-event {\n        display: inline-block;\n        vertical-align: 60px;\n        font-weight: bold;\n        padding-left: 20px;\n    }\n    .dwd-icon, .dwd-icon-frame {\n        position: absolute;\n    }\n    .dwd-icon-container, .dwd-icon, .dwd-icon-frame {\n        width: 100px;\n        height: 100px;\n    }\n    .dwd-time {\n        color: grey;\n    }\n\n</style>\n<div ng-bind-html=\"msg.html\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":2140,"wires":[[]]},{"id":"92586727.97f41","type":"dwd","z":"6ef2b186.f1f8c","region":"109377000 Kreis Tirschenreuth (TIR)","name":"","gewitter":true,"sturm":true,"regen":true,"schnee":true,"nebel":true,"frost":true,"glatteis":true,"tauwetter":false,"hitze":true,"uv":true,"kueste":false,"binnensee":false,"x":350,"y":2140,"wires":[["febee273.defce"]]},{"id":"89a0c98a.0f41b8","type":"comment","z":"6ef2b186.f1f8c","name":"109377000 Kreis Tirschenreuth (TIR)","info":"","x":280,"y":2220,"wires":[]},{"id":"3bf4be59.ea2762","type":"inject","z":"6ef2b186.f1f8c","name":"","props":[{"p":"payload"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":180,"y":2140,"wires":[["92586727.97f41"]]},{"id":"f87cc085.bd171","type":"ui_group","z":"","name":"DWD Wetterwarnungen","tab":"ad63674.88ef398","order":1,"disp":true,"width":"6","collapse":false},{"id":"ad63674.88ef398","type":"ui_tab","z":"","name":"DWD","icon":"dashboard","disabled":false,"hidden":false}]
