examples/flow-outputdata.json
[{"id":"ed88003.5c3188","type":"dwd","z":"6ef2b186.f1f8c","region":"105370000 Kreis Heinsberg (HS)","name":"","gewitter":true,"sturm":true,"regen":true,"schnee":true,"nebel":true,"frost":true,"glatteis":true,"tauwetter":false,"hitze":true,"uv":true,"kueste":false,"binnensee":false,"x":350,"y":1820,"wires":[["50d5d09b.9d9098","42ae8f2a.159e1","1e51f615.9516f2","856fd239.13b12","6f842317.f3e154"]]},{"id":"50d5d09b.9d9098","type":"debug","z":"6ef2b186.f1f8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1780,"wires":[]},{"id":"42ae8f2a.159e1","type":"debug","z":"6ef2b186.f1f8c","name":"Anzahl Warnungen","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"count","targetType":"msg","statusVal":"payload.windspeed","statusType":"auto","x":660,"y":1820,"wires":[]},{"id":"1e51f615.9516f2","type":"debug","z":"6ef2b186.f1f8c","name":"Max. Warnstufe","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload.windspeed","statusType":"auto","x":650,"y":1880,"wires":[]},{"id":"856fd239.13b12","type":"debug","z":"6ef2b186.f1f8c","name":"Warnkategorien","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"events","targetType":"msg","statusVal":"payload.windspeed","statusType":"auto","x":650,"y":1940,"wires":[]},{"id":"6f842317.f3e154","type":"debug","z":"6ef2b186.f1f8c","name":"Warnungen","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"warnings","targetType":"msg","statusVal":"payload.windspeed","statusType":"auto","x":630,"y":2000,"wires":[]},{"id":"fa07d49b.c2c418","type":"comment","z":"6ef2b186.f1f8c","name":"105370000 Kreis Heinsberg (HS)","info":"","x":290,"y":1900,"wires":[]},{"id":"fd73a21c.baf988","type":"inject","z":"6ef2b186.f1f8c","name":"","props":[{"p":"payload"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":200,"y":1820,"wires":[["ed88003.5c3188"]]}]
